@import '../variables.scss';

///////////////////////////////////

footer {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(90deg, #E83780 0%, #F18A25 100%);
    color: $primary-color;
	padding: 1rem;
    margin-top: 2rem;

	.copyright {
		p {
			font-size: 0.75rem;
			a {
				color: $primary-color;
				font-size: 0.8rem;
				&:hover {
					color: $black-color;
				}
			}
		}
	}

	.socials {
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			li {
				a {
					img {
						width: 40%;
						transition: all 0.6s ease;
						&:hover {
						opacity: 0.5;
					}
					}
				}
			}
		}
	}
}


/////////////////////////////////////////
/* Tablets, 600px and up */
@media only screen and (min-width: 600px) {
	footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
		padding: 1rem 2rem;
        margin-top: 2rem;
		ul {
			text-align: right;
		}
    }
}

////////////////////////////////////////
/* Extra Large Destops and Tv, 1440px and up) */
@media only screen and (min-width: 1440px) {
	footer {
        padding: 1rem 4rem;
        margin-top: 1rem;
    }
}
