@import './variables.scss';



* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


h1, h4 {
    font-family: Avenir-Black;
}
h2, h3 {
    font-family: Avenir-Book;
    font-weight: 100;
}

h1 {
    font-size: 2rem;
	@include desktops {
		font-size: 5rem;
	}
}
h2 {
    font-size: 1.35rem;
    margin: 0;
}
h4 {
    color: $accent-color;
    font-size: 0.65rem;
    transition: all 1.2s ease-in-out;
}
p {
    font-weight: 100;
    font-size: 0.9rem;
}
a {
    color: $secondary-color;
    transition: all 1s ease;
}


ul {
    padding: 0;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: $primary-color;
}


button {
    background: transparent;
    box-shadow: none;
    border: 0;
	width: 100%;
    color: $primary-color;
    font-size: 0.7rem;
    transition: all 0.6s ease;
	&:hover {
		cursor: pointer;
	}
}
button.active {
    // font-family: Avenir-Black;
	background-color: $primary-color;
	color: $secondary-color;
}


body {
    font-family: Avenir-Book;
    margin: 0;
    background-color: $secondary-color;
    color: $secondary-color;
    text-align: center;
}

header {
    transition: all 0.3s ease-in-out;
}

main {
    padding: 0 1rem;
    transition: all 0.3s ease-in-out;
}

section {
    padding-top: 4rem;
}
section .title {
    margin-bottom: 2rem;
}

footer {
    padding: 1rem;
    margin-top: 2rem;
}